@using OrdBase.ViewModels
@model AppViewModel

<main id="appMain">
    <section id="clientHeading">
        <h2></h2>
    </section>

    <group id="dynamicBody">
        <section id="categorySection">
            <h3>Categories</h3>
            <ul id="categoryList" class="DynamicList">
            @{
                var i = 1;
                foreach (var o in Model.Categories) 
                {
                    <li id="category@(i)" class="ListItem CategoryListItem">@o.Name</li>
                    i++;
                }
                <li id="category0" style="display:none;"></li> @*Invisible starting ground*@
            }
            </ul>
        </section>
        <section id="translationSection">
            <h3>Translations</h3>
            <ul id="translationList" class="DynamicList">
            @{
                var j = 1;
                foreach (var o in Model.Translations)
                {
                    <li id="translation@(j)" class="ListItem TranslationListItem">@o.Key - @o.Value - @o.Language.ShortName</li>
                    j++;
                }
                <li id="translation0" style="display:none;"></li> @*Invisible starting ground*@
            }
            </ul>
        </section>
    <script type="text/javascript">
        Navigation.Initialize(@(i), @(j));
    </script>
    </group>
</main>
